%section#contact
  .container
    .row
      .col-md-12.col-sm-12
        .section-title
          %strong Наши контакты
          %h2.heading.bold Заполните анкету и мы получим ваше сообщение
          %hr
      .col-md-6.col-sm-12.contact-info
        %h3.heading.bold Адрес: г. Котлас, ул. Чиркова, 7, корп. 4
        .col-md-6.col-sm-4
          %h3
            %i.icon-envelope.medium-icon.wow.bounceIn{"data-wow-delay" => "0.6s"}
            EMAIL
          %p info@derevenka.net
        .col-md-6.col-sm-4
          %h3
            %i.icon-phone.medium-icon.wow.bounceIn{"data-wow-delay" => "0.6s"}
            Телефоны
          %p +7-81837-5-29-80
          %p +7-921-479-82-89
      .col-md-6.col-sm-12
        = form_for @order_call, class: 'wow fadeInUp', remote: true do |f|
          .col-md-6.col-sm-6
            = f.text_field :name, placeholder: 'Фамилия Имя Отчество', class: 'form-control'
          .col-md-6.col-sm-6
            = f.text_field :phone_number, placeholder: 'Телефон', class: 'form-control'
          .col-md-12.col-sm-12
            = f.text_area :comment, placeholder: 'Комментарий', class: 'form-control'
          .col-md-offset-4.col-md-8.col-sm-offset-4.col-sm-8
            = submit_tag 'Отправить', class: 'form-control'
