%section#team
  .container
    .row
      .section-title
        %strong Генеральный план
        %h1.heading.bold Расположение участков
        %hr
  .container-horizontal
    .section-title{ style: 'margin: 0 auto; float: left;'}
      = image_tag 'Genplan_new-cropped-formatted.jpg', usemap: '#map1', border: '0', ismap: 'ismap' , id: '#img1', class: 'mapper'
      %map#map1{name: 'map1'}
        = render 'shared/steads_list'
    .stead-info

  .steads-info
    - @steads.each do |stead|
      %div{ class: "stead_#{stead.serial_number}" }
        .serial_number
          Номер участка:
          %span
            = stead.serial_number
        .cost
          Стоимость:
          %span
            = "#{stead.total_area * stead.cost_square_meter}"
            руб.
        .status
          Статус:
          %span
            = stead_status(stead.status)
