= render 'shared/navpanel'

= render 'main'
= render 'work'
= render 'about'
= render 'portfolio'
= render 'map'
= render 'genplan'
= render 'contacts'
//= render 'footer'

:javascript
  jQuery(document).ready(function() {
    $('#main').backstretch([
       "#{image_url('bg_1.jpg')}",
       "#{image_url('bg_2.jpg')}"
        ],  {duration: 2000, fade: 750});
    });
